appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mccabe==0.6.1
pathspec==0.6.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
pyOpenSSL==19.0.0
PySocks==1.7.1
pytz==2019.3
regex==2019.11.1
requests==2.22.0
six==1.13.0
toml==0.10.0
twilio==6.29.2
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
